div#profile_Stories {
	display: none;
}

#mainContent > h1:nth-child(1){
  display: none;
}

#mainContent > h1:nth-child(1){
  content: 'Ford, Stir Fry Master';
}

#mainContent>h1:nth-child(1), #mainContent>h1>span {
    background: linear-gradient(60deg, rgba(32,0,255,1) 0%, rgba(131,58,180,1) 25%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
